<%- include('../partials/header', { title: 'All Recipes' }) %>

<h1 style="color:white">All Recipes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Description</th>
      <th>Category</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <% recipes.forEach(recipe => { %>
      <tr>
        <td><a href="/recipes/<%= recipe._id %>"><%= recipe.name %></a></td>
        <td><%= recipe.author %></td>
        <td><%= recipe.description %></td>
        <td><%= recipe.category?.name || 'N/A' %></td>
        <td><%= recipe.rating %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<div class="text-right mt-3">
  <a href="/recipes/add" class="plain-link-btn mt-3">Add Recipe</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/hydra-synth/dist/hydra-synth.js"></script>
<script src="/hydra/main.js"></script>
<script src="/hydra/velvet.js"></script>
<%- include('../partials/footer') %>
